* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #457b9d;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.area {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.area .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.item.t {
    border-top: 1px solid #FFF;
}
.item.l {
    border-left: 1px solid #FFF;
}
.item.r {
    border-right: 1px solid #FFF;
}
.item.b {
    border-bottom: 1px solid #FFF;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
}

.infocorpo--x, .infocorpo--o {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 5px 7px #000;
    color: #333;
    height: 45px;
}


.vez {
    color: #1d3557;
    font-size: 35px;
}

.quantidade--x, .quantidade--o {
    color: #457b9d;
    font-size: 30px;
}


.reset {
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.aviso--gigante {
    transition: all 1s ease;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1d3557;
}